#headname{
height: 70px;
background-color:#d71202;
width: 1334px;
position:fixed;	
top: 0;
left: 0;
right: 0;
margin:0 auto;
width: auto;
}
.titlename{
	font-family: "寰杞榛";
	font-size: 45px;
	line-height: 65px;
}
.colorblue{
	color: blue;
}
.colorgray{
	color:gainsboro;
}
.fl{
	float: left;
}
.f2{
	float: right;
	margin-right: 10px;
	margin-top: -20px;
	font-size: 14px;
}
.w{
	width: 900px;
	margin: 0 auto;
}
.tilew{
	left: 50%;
	height: 70px;
	background-color:#fff;	
}
.fr{
	float: right;
}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
	color: black;
}
.fr a:hover{
	color: blue;
}
.f2 a:hover{
	color:red;
}
#headname .tilew ul li{
	line-height: 70px;
	width: 80px;
	text-align: center;
	font-size: 16px;
}
ul{
	margin: 0px;
}
.content{
	height:2900px;
	background-color: #fffff;
}
.main{
	width: 650px;
	height: 2800px;
	background-color:lightgray;
	display: inline-block;/*行内块*/
	vertical-align: top;/*对齐方式  顶部*/
}
.banner{
	width: 650px;
	height: 268px;
	background-color: lightgray;
}
.img1{
	width:650px;
	height: 240px;
	margin-left: 0px;
	margin-top: 30px;
}
.Advertisement{
	width: 240px;
	height: 2033px;
//	border: red solid 1px;/*边框和像素设置*/
	display: inline-block;
}
.tail{
	height: 100px;
	background-color: slategrey;
	line-height: 34px;
	font-size:14px;
	color: white;
	text-align: center;	
	margin-top:-14px	
}	
.first{
	width: 650px;
	height: 2200px;
	background-color:#0000ff;
	display: inline-block;/*行内块*/
	vertical-align: top;/*对齐方式  顶部*/
}
.firsta {
	font-size:24px ;
	color: white;
	width: 650px;
	height: 100px;
	display: inline-block;/*行内块*/
	vertical-align: top;/*对齐方式  顶部*/
}
.firsta  p{
	margin-left: 40px;
	margin-top: 30px;
	margin-bottom: 0px;
}
.firstb{
	width: 650px;
	height: 2100px;
	background-color: white;
	display: inline-block;/*行内块*/
	vertical-align: top;/*对齐方式  顶部*/
}
.article1{
	border-top: 10px solid white;
}
.article1left{
	width:180px;
	height: 200px;	
	border-right: 5px ridge #d71202;
	display: inline-block;/*行内块*/
	vertical-align: top;/*对齐方式  顶部*/
}
.article1right{
	width:460px;
	height: 200px;	
	display: inline-block;/*行内块*/
	vertical-align: top;/*对齐方式  顶部*/
}
 img{
	width: 160px;
	height: 160px;
	margin-top: 15px;
	margin-left: 5px;

}
.more{
	font-size: 14px;
	color: white;
	margin-left: 550px;
	width: 100px;
}
.articlemain{
	font-size: 20px;
	color:blue;
	width: 460px;
	height: 70px;
	border-bottom: #121212 dashed 1px;/*边框和像素设置*/
}
.articlebody{
	font-size: 16px;
	color: black;
	width: 460px;
	height: 130px;
}
.articlemain a:hover{
	color: #8000ff;
}
.kong{
	height: 60px;
}
.second{
	width:650px ;
	height: 370px;
	background-color: white;
}
.shead {
	width: 650px;
	height: 40px;
//	border: red solid 1px;/*边框和像素设置*/
	font-size: 30px;
	color: black;
}

.sbody{
	width: 650px;
	height: 306px;
//	border-top: #663366 solid 3px;/*边框和像素设置*/
}
.Square{
	width: 115px;
	height: 115px;
	border-top: lightgray solid 4px;/*边框和像素设置*/
	display: inline-block;/*行内块*/
	vertical-align: top;/*对齐方式  顶部*/
	margin-left: 8px;
	margin-top: 24px;
	background-color:#d71202;
	text-align: center;
	
	
}

.Squaretext a{	
	line-height: 100px;
	font-size: 36px;
	color: white;	
}
.Squaretext a:hover{
	color: black;
}

.people{
	width: 240px;
	height: 290px;
	border: lightgray solid 4px;/*边框和像素设置*/
	display: inline-block;
}
.head img{
	width: 100px;
	height: 100px; 
  	margin-left: 70px;
  	margin-top: 20px;
}
.name{
	font-size: 16px;
	text-align: center;
}
.information{
	width: 230px;
	height: 100px; 
	margin-left: 10px;
	margin-top: 10px;
	
}
table{
	font-size: 14px;
	width: 220px;
	height: 130px;
}
.RankingList{
	width: 240px;
	height: 880px;
	border: #d71202 solid 4px;/*边框和像素设置*/
	background-color:white;
}
.Rankingname{
	font-size: 22px;
	text-align: center;
	color: red;
	//border: #d71202 solid 1px;/*边框和像素设置*/
}
.Rankingone{
	width: 240px;
	height: 400px;
	border: #d71202 solid 1px;/*边框和像素设置*/
	text-align: center;
}
.onehade{
	width: 240px;
	height: 60px;
	font-size: 18px;
	color: mediumblue;
	text-align: center;
	border: #d71202 solid 1px;/*边框和像素设置*/
}
.onebody{
	width: 240px;
	height: 340px;
	border: #d71202 solid 1px;/*边框和像素设置*/
	text-align: center;	
}
