#headname{
height: 70px;
background-color:#d71202;
width: 1334px;
position:fixed;	
top: 0;
left: 0;
right: 0;
margin:0 auto;
width: auto;
}
.titlename{
	font-family: "寰杞榛";
	font-size: 45px;
	line-height: 65px;
}
.colorblue{
	color: blue;
}
.colorgray{
	color:gainsboro;
}
.fl{
	float: left;
}
.f2{
	float: right;
	margin-right: 10px;
	margin-top: -20px;
	font-size: 14px;
}
.w{
	width: 900px;
	margin: 0 auto;
}
.tilew{
	left: 50%;
	height: 70px;
	background-color:#fff;	
}
.fr{
	float: left;
}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
	color: black;
}
.fr a:hover{
	color: blue;
}
.f2 a:hover{
	color:red;
}
#headname .tilew ul li{
	line-height: 70px;
	width: 70px;
	text-align: center;
	font-size: 16px;
}
ul{
	margin: 0px;
}
.kong{
	height: 60px;
}
.content{
	height: 2000px;
	background-color: #FFFFFF;
}
.kindleft{ 
	width: 220px;
	height: auto;
	float: left;
	margin-left: 20px;
}
.firsta{
	font-size:24px;
	color: red;
	text-align: center;
	display: inline-block;/*行内块*/
	vertical-align: top;/*对齐方式  顶部*/	
}


div.hotProductCategory {
	width: 230px;
	padding: 0px 6px;
	margin-bottom: 10px;
	overflow: hidden;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	//border: solid 1px #e4e4e4;
}

div.hotProductCategory dl {
	width: 230px;
	line-height: 40px;
	float: left;
	_float: none;
	border-bottom: solid 1px #f1f1f1;
}

div.hotProductCategory dt a {
	font-family: "Microsoft YaHei";
	color: #2c64b1;
	font-size: 18px;
}

div.hotProductCategory dd {
	width: 150px;
	float: left;
	padding-right: 5px;
}
.kindright{
	margin-top: 10px;
	width: 660px;
	height: auto;
	float: left;
}
.firstb{
	background-color: white;
	display: inline-block;/*行内块*/
	vertical-align: top;/*对齐方式  顶部*/
}
.article1{
	border-top: 15px solid white;
}
.article1left{
	width:180px;
	height: 200px;	
	border-right: 5px ridge #d71202;
	display: inline-block;/*行内块*/
	vertical-align: top;/*对齐方式  顶部*/
}
.article1right{
	width:460px;
	height: 200px;	
	display: inline-block;/*行内块*/
	vertical-align: top;/*对齐方式  顶部*/
}
 img{
	width: 160px;
	height: 160px;
	margin-top: 5px;
	margin-left: 5px;
}
.articlemain{
	font-size: 20px;
	color:blue;
	width: 460px;
	height: 70px;
	border-bottom: #121212 dashed 1px;/*边框和像素设置*/
}
.articlemain a:hover{
	color: blueviolet ;
}
.articlebody{
	font-size: 16px;
	color: black;
	width: 460px;
	height: 130px;
}
.tail{
	height: 100px;
	background-color: slategrey;
	line-height: 34px;
	font-size:14px;
	color: white;
	text-align: center;	
	margin-top:-14px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: auto;	
}	
.t{
	font-size: 20px;
	text-align: center;	
	width:660px;
	height: 60px;
	border-bottom: #121212 dashed 1px;/*边框和像素设置*/	
	border-top: 30px solid white;
	display: inline-block;/*行内块*/
	vertical-align: top;/*对齐方式  顶部*/
}